@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --BG: #f0ba2f;
  --white: #ffffff;
}
body {
  background-color: var(--BG);
  width: 100%;
  /* height: 100vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#personal {
  margin-top: 4rem;
}
#personal a:any-link {
  text-decoration: none;
  color: aquamarine;
}
.container {
  background-color: var(--white);
  width: 90vw;
  max-width: 32em;
  border-radius: 5px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.viewed-recipe {
  display: block;
}
.food-details {
  display: none;
  flex-flow: column nowrap;
}
.search {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
.search input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  width: 80%;
  padding: 1rem 2rem 0.5rem;
  font-weight: 600;
}
.search button {
  background-color: var(--BG);
  padding: 0.2rem;
  border-radius: 5px;
  font-weight: 550;
}
.food-img {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.food-img img {
  width: 40vw;
  height: auto;
  max-width: 200px;
}
.food-name {
  text-align: center;
  background-color: var(--BG);
  width: 90%;
  transform: translate(5%);
  margin-bottom: 1rem;
  border-radius: 5px;
}
.food-ingredients ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2em;
  column-gap: 60px;
}
.food-ingredients ul li {
  padding: 0.5rem 0;
}
.view-recipe {
  display: flex;
  align-self: end;
  margin-right: 2rem;
  padding-bottom: 2rem;
}
.view-recipe button {
  background-color: var(--BG);
  padding: 0.2rem;
  border-radius: 5px;
  font-weight: 900;
}
.hidden-recipe {
  height: 80vh;
  display: none;
  flex-flow: column nowrap;
}
.hidden-recipe pre {
  white-space: pre-wrap;
  margin: 5px;
  font-size: 15px;
}
.hide-el {
  align-self: end;
  margin: 1rem;
}
.hidden-recipe button {
  background-color: var(--BG);
  padding: 0.2em;
  border-radius: 3px;
}
.youtube {
  margin-top: 4rem;
  margin-left: 2rem;
}
.youtube a {
  /* color: var(--BG); */
  background-color: var(--BG);
  border: 1px solid #f0ba2f;
  border-radius: 5px;
  padding: 1px;
}
.youtube a:any-link {
  text-decoration: none;
  color: black;
}
